# For macOS systems
.DS_Store

# Vivado & Vitis directory
*vivado*
*vitis*
.Xil

# For icarus Verilog
*.out
*.vcd

# Diagrams
*.drawio

# Any tmp
*tmp*
WIP*

#Text editor configs
*.geany
.vscode

#Repo specific
main.cpp
updatemem*
xparameters.h
*.log